.logo{
    font-size: 4rem;
    font-family: "texta"  ;
    display: none;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
}
.image img{
    position: absolute;
    width: 450px;
    bottom: 0;
    right: 10%;
}
.login{
    margin-right: 20%;
    margin-top: 5%;
    /* width: 80%; */
}
.title h1{
    font-family: lufga;
    font-size: 4vw;
    color: #fff;
    margin-right: 10%;
    /* font-weight: bolder; */
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form input{
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 10px;
    font-family: "texta",  ;
    padding-left: 10px;
    font-size: 1.2rem;
}
.form button{
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 10px;
    font-family: "texta",  ;
    font-size: 1.2rem;
    background-color: #F2E6D4;
    color: #7D0000  ;
    cursor: pointer;
    font-weight: bolder;
}


@media screen and (max-width: 960px) {
    .flex{
        flex-direction: column;
    }
    .image img{
        width: 200px;
        position: inherit;
        margin-top: 20px;
    }
    .form input{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 250px;
    }
    .login{
        max-width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .form button{
        width: 200px;
    }
    .title h1{
        margin: 0;
        margin-top: 50px;
    }
}