.profile{
    background-color: white;
    /* width: 900px; */
    border-radius: 15px;
    height: 380px;
}
.banner img{
    width: 700px;
    height: 150px;
    position: relative;
    z-index: 100;
}
.pfp img{
    width: 150px;
    margin-top: -70px;
    margin-left: 20px;
    position: absolute;
    z-index: 100;
}
.name h1{
    margin-left: 200px;
}
.name p{
    margin-left: 200px;
    margin-top: -20px;
}
.summary{
    background-color: white;
    width: 700px;
    border-radius: 15px;
     margin-top: 20px;
}
.summary h1{
    padding-top: 15px;
    padding-left: 20px;
}
.summary p{
    max-width: 680px;
    margin: auto;
}
.flex{
    display: flex;
    justify-content: center;
}
.nice{
    /*min-width: 700px;*/
    width: 120%;
}
.pushpa{
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 5%;
    top: 15%;
    width: 20%;
    height: 230px;
}
.pushpa p{
    font-weight: bold;
    font-size: 1.2rem;
    color: #7D0000;

}
.pushpa img{
    width: 100px;
}

.details{
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: absolute;
    text-align: left;
    right: 5%;
    top: 45%;
    /*width: 300px;*/
    width: 20%;
    height: 400px;
    font-family: "texta", sans-serif;
}

.details-inner {
    margin-left: 5%;
}

.details-inner h3 {
    font-size: 18px;
    display: inline;
    margin-left: 4%;
    color: #9B9B9B;
    margin-top: 10%;
}

.details-inner i {
    color: #9B9B9B;
}

.details-inner p {
    margin-top: 1%;
    color: #7D0000;
    font-family: "texta", sans-serif;
    font-weight: bold;
    margin-left: 1%;
}

.detail {
    margin-top: 3%;
    height: 32.5vh;
    overflow: hidden;
}
.detail h1{
    margin: 1.5% 0;
    color: black;
}

.details-box {
    width: 20%;
    background-color: #F2F2F2;
}

.details-box h3{
    margin: 0;
    margin-top: 1%;
    position: relative;
    /*padding-left: 19%;*/
    font-size: 0.8vw;
    opacity: 0.7;
}

.details-box .icon{
    top: -18%;
}

.details-box p{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    font-size: 1.4vw;
    margin-bottom: 0;
}
